<div class="container">
  <h1>My First Attribute Directive</h1>
  <p my-high-light highlightColor="#ff3300">内容高亮显示！</p>
  <div my-high-light highlightColor="#00ff00">这是DIV里面的内容</div>
  <span my-high-light highlightColor="#0000ff">这是span里面的内容</span>
  <form action="" my-high-light highlightColor="#00ff00" style="padding:15px;">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
      <input type="text">
  </form>
  <app-card my-high-light highlightColor="#ff3300"></app-card>
  <div *ngFor="let item of [1,2,3]">
    <app-card *appDelay="500*item">
      第{{item}}张卡片
    </app-card>
  </div>
  <div>
    The condition is currently {{condition}} <button (click)="Toggle()" *appUnless='!condition' class="btn btn-success">Toggle to false</button>
    <button (click)="Toggle()" *appUnless='condition' class="btn btn-info">Toggle to true</button>
  </div>
  <p *appUnless="condition">
      (A) This paragraph is displayed because the condition is false.
  </p>
  <p *appUnless="!condition">
      B) Although the condition is true,
      this paragraph is displayed because appUnless is set to false.
  </p>
</div>
