<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <a routerLink="/" class="btn btn-primary navigation">Template</a>
  <a routerLink="/communication" class="btn btn-primary navigation">Communication</a>
  <a routerLink="/lifecycle" class="btn btn-primary navigation">Lifecycle</a>
  <a routerLink="/animation" class="btn btn-primary navigation">Animation</a>
  <a routerLink="/dynamic" class="btn btn-primary navigation">Dynamic</a>
  <a routerLink="/shadowdom" class="btn btn-primary navigation">Shadowdom</a>
  <a routerLink="/content" class="btn btn-primary navigation">Content</a>
  <a routerLink="/content-child" class="btn btn-primary navigation">Content child</a>
</div>
<router-outlet></router-outlet>
