  <app-test-event-binding></app-test-event-binding>
  <app-test-interpolation></app-test-interpolation>
  <app-test-ng-class></app-test-ng-class>
  <app-test-ng-for-if></app-test-ng-for-if>
  <app-test-ng-model></app-test-ng-model>
  <app-test-ng-style></app-test-ng-style>
  <app-test-ng-switch></app-test-ng-switch>
  <app-test-pipe></app-test-pipe>
  <app-test-safe-nav></app-test-safe-nav>
  <app-test-temp-ref-var></app-test-temp-ref-var>
  <app-test-twoway-binding></app-test-twoway-binding>
  <app-test-value-bind></app-test-value-bind>
